<StackLayout>
  <TextField [(ngModel)]="user.email" hint="Email Address"></TextField>
  <TextField
    [(ngModel)]="user.password"
    hint="Password"
    secure="true"
  ></TextField>

  <Button
    [text]="isLoggingIn ? 'Sign in' : 'Sign Up'"
    (tap)="submit()"
  ></Button>
  <Button
    [text]="isLoggingIn ? 'Sign up' : 'Back to login'"
    (tap)="toggleDisplay()"
  ></Button>

  <StackLayout class="hr"></StackLayout>

  <Button
    text="Login with Facebook"
    (tap)="onLoginFacebookTap()"
    class="btn btn-primary btn-active"
  ></Button>
  <Button
    text="Login with Microsoft"
    (tap)="onLoginMicrosoftTap()"
    class="btn btn-primary btn-active"
  ></Button>
  <Button
    text="Login with Auth0"
    (tap)="onLoginAuth0Tap()"
    class="btn btn-primary btn-active"
  ></Button>
  <Label [text]="'Logged in as ' + name"></Label>
</StackLayout>
